.nav-single {
    background-color: #0F1011;
    margin-top: 0;
    padding: 25px 0;
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-item-single {
    margin-right: 40px;
    cursor: pointer;
}

.nav-single a:hover {
    color: rgb(185, 185, 185);
}

.nav-logo-single {
    color: #2d3033;
    float: left;
    margin: 0;
    font-size: 20px;
    padding-left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: -10px;
}
