.section-portofolio {
    background-color: #110E0E;
    color: #fff;
    padding: 0 3em 0 3em;
    height: 580px;
}

.portofolio-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.portofolio-description {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    width: 13em;
}

.arrow-portofolio {
    width: 20em;
    text-align: right;
    position: relative;
    top: 8em;
}

.arrow-portofolio-child-1 {
    background-color: #fff;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    border: 1px solid #D7D7D7;
    transform: rotate(180deg);
}

.arrow-portofolio-child-2 {
    background-color: #fff;
    margin-left: 10px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    border: 1px solid #D7D7D7;
}

.arrow-portofolio-child-1 a {
    text-decoration: none;
    color: #0F65E5;
}

.arrow-portofolio-child-2 a {
    text-decoration: none;
    color: #0F65E5;
}

.card-1 {
    width: 16.5rem;
    font-family: 'Poppins', sans-serif;
    color: #000;
    border-radius: 12px;
    padding-bottom: 3em;
    background-color: #fff;
}

.container {
    padding: 2px 16px;
}

.img-card {
    width: 100%;
    height: 12.2rem;
    border-radius: 12px 12px 0 0;
}

.card-title {
    font-weight: 900;
    margin: 0;
    font-size: 20px;
}

.card-description {
    font-size: 13px;
    margin: 0;
}

.btn-card {
    background-color: #0F65E5;
    padding: 0.7em;
    border: none;
    border-radius: 2em;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 9.5em;
    float: right;
    margin-top: 1em;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.btn-card a {}

.arrow-card {
    margin-left: 0.7em;
    font-weight: 900;
}

.card-2 {
    width: 16.5rem;
    font-family: 'Poppins', sans-serif;
    color: #000;
    border-radius: 12px;
    padding-bottom: 3em;
    background-color: #fff;
}

.card-3 {
    width: 16.5rem;
    font-family: 'Poppins', sans-serif;
    color: #000;
    border-radius: 12px;
    padding-bottom: 3em;
    background-color: #fff;
}

.card {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card-child {
    float: left;
    margin-left: 1em;
}

.portofolio {
    display: flex;
}

.portofolio-top {}

.portofolio-bottom {
    margin: 0;
    position: relative;
    left: 6em;
    top: 7em;
}