.app {
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
}


.nav {
  background-color: #000;
  text-align: right;
  margin-top: 0;
  padding: 25px 0;
  font-family: 'Poppins';
  font-size: small;
  font-weight: 600;
  position: relative;
}

.nav-item {
  margin-right: 40px;
}

.nav a {
  text-decoration: none;
  color: #999;
}

.nav a:hover {
  color: #fff;
}

.nav-logo {
  color: #fff;
  float: left;
  margin: 0;
  font-size: 15px;
  padding-left: 40px;
}

.section-home {
  max-height: 100em;
  color: #fff;
  padding-left: 40px;
  background-image: url(./assets/image/background-homes.jpg);
  background-size: cover;
  padding-bottom: 2em;
}

.home-title {
  font-family: 'Montserrat';
  font-size: 70px;
  font-weight: 900;
  margin: 0;
  padding-top: 2em;
}

.home-title-child {
  display: flex;
}

.home-title2 {
  margin-top: 25px;
  font-family: 'Poppins';
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 200;
}

.home-title-child2 {
  display: flex;
}

.btn {
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: bold;
  padding: 14px 40px;
  border-radius: 25px;
}

.btn-contact {
  background-color: #0F65E5;
  border: 2px solid #0F65E5;
}

.btn-portofolio {
  margin-left: 15px;
  background-color: #fff;
  border: 2px solid #0F65E5;
}

.arrow {
  margin-left: 8px;
  font-weight: 900;
}

.btn-contact a {
  text-decoration: none;
  color: white;
}


.btn-portofolio a {
  text-decoration: none;
  color: #0F65E5;
}

.btn-contact:hover {
  background: #5D8BF4;
  border: 2px solid #5D8BF4;
}

.btn-portofolio:hover {
  background: #0F65E5;
}

.btn-portofolio a:hover {
  color: #fff;
}

.home-sosmed {
  text-align: right;
  margin: 0;
  padding-right: 40px;
  padding-top: 3em;
}


.section-about {
  margin: 0;
  padding: 30px 6em; 
}

.about-item-header {
  float: right;
}

.about-title {
  margin: 0;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 600;
  padding-right: 13em;
  padding-top: 1em;
}

.about-description {
  font-family: 'Poppins';
  color: #fff;
  width: 28em;
  line-height: 42px;
  font-size: 22px;
}

.about-description-child {
  display: flex;
  padding-top: 2em;
  letter-spacing: 0.3px;
}

.about-item {
  margin: 0;
  color: #fff;
  font-family: 'Poppins';
  display: flex;
}

.about-item-title {
  margin: 0;
  font-size: 68px;
  flex: 1 1 0;
  letter-spacing: 3px;
  padding-top: 1em;
}


.about-item-description {
  display: flex;
  margin: 0;
  font-size: 24px;
  width: 12px;
  font-weight: 200;
}