.app {
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
}


.nav {
  background-color: #000;
  text-align: right;
  margin-top: 0;
  padding: 25px 0;
  font-family: 'Poppins';
  font-size: small;
  font-weight: 600;
  position: relative;
}

.nav-item {
  margin-right: 40px;
}

.nav a {
  text-decoration: none;
  color: #999;
}

.nav a:hover {
  color: #fff;
}

.nav-logo {
  color: #fff;
  float: left;
  margin: 0;
  font-size: 15px;
  padding-left: 40px;
}

.section-home {
  max-height: 100em;
  color: #fff;
  padding-left: 40px;
  background-image: url(./assets/image/background-homes.jpg);
  background-size: cover;
  padding-bottom: 2em;
}

.home-title {
  font-family: 'Montserrat';
  font-size: 70px;
  font-weight: 900;
  margin: 0;
  padding-top: 2em;
}

.home-title-child {
  display: flex;
}

.home-title2 {
  margin-top: 25px;
  font-family: 'Poppins';
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 200;
}

.home-title-child2 {
  display: flex;
}

.btn {
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: bold;
  padding: 14px 40px;
  border-radius: 25px;
}

.btn-contact {
  background-color: #0F65E5;
  border: 2px solid #0F65E5;
}

.btn-portofolio {
  margin-left: 15px;
  background-color: #fff;
  border: 2px solid #0F65E5;
}

.arrow {
  margin-left: 8px;
  font-weight: 900;
}

.btn-contact a {
  text-decoration: none;
  color: white;
}


.btn-portofolio a {
  text-decoration: none;
  color: #0F65E5;
}

.btn-contact:hover {
  background: #5D8BF4;
  border: 2px solid #5D8BF4;
}

.btn-portofolio:hover {
  background: #0F65E5;
}

.btn-portofolio a:hover {
  color: #fff;
}

.home-sosmed {
  text-align: right;
  margin: 0;
  padding-right: 40px;
  padding-top: 3em;
}


.section-about {
  margin: 0;
  padding: 30px 6em; 
}

.about-item-header {
  float: right;
}

.about-title {
  margin: 0;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 600;
  padding-right: 13em;
  padding-top: 1em;
}

.about-description {
  font-family: 'Poppins';
  color: #fff;
  width: 28em;
  line-height: 42px;
  font-size: 22px;
}

.about-description-child {
  display: flex;
  padding-top: 2em;
  letter-spacing: 0.3px;
}

.about-item {
  margin: 0;
  color: #fff;
  font-family: 'Poppins';
  display: flex;
}

.about-item-title {
  margin: 0;
  font-size: 68px;
  flex: 1 1 0;
  letter-spacing: 3px;
  padding-top: 1em;
}


.about-item-description {
  display: flex;
  margin: 0;
  font-size: 24px;
  width: 12px;
  font-weight: 200;
}

.section-portofolio {
  color: #fff;
  padding: 4em 4em 4em 3em;
}

.portofolio-title {
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 600;
}

.portofolio-description {
  font-family: 'Poppins';
  font-size: 22px;
  width: 13em;
}

.arrow-portofolio {
 width: 20em;
 text-align: right;
 position: relative;
 top: 8em;
}

.arrow-portofolio-child-1{
   background-color: #fff;
   font-weight: 900;
   font-family: 'Poppins';
   font-size: 15px;
   border-radius: 100%;
   width: 33px;
   height: 33px;
   border: 1px solid #D7D7D7;
   transform: rotate(180deg);
}

.arrow-portofolio-child-2 {
  background-color: #fff;
  margin-left: 10px;
  font-weight: 900;
  font-family: 'Poppins';
  font-size: 15px;
  border-radius: 100%;
  width: 33px;
  height: 33px;
  border: 1px solid #D7D7D7;
}

.arrow-portofolio-child-1 a {
  text-decoration: none;
  color: #0F65E5;
}

.arrow-portofolio-child-2 a {
  text-decoration: none;
  color: #0F65E5;
}

.card-1 {
  width: 16.5rem;
  font-family: 'Poppins';
  color: #000;
  border-radius: 12px;
  padding-bottom: 3em;
  background-color: #fff;
}

.container {
  padding: 2px 16px;
}

.img-card {
  width: 100%;
  height: 12.2rem;
  border-radius: 12px 12px 0 0;
}

.card-title {
  font-weight: 900;
  margin: 0;
  font-size: 20px;
}

.card-description {
  font-size: 13px;
  margin: 0;
}

.btn-card {
  background-color: #0F65E5;
  padding: 0.7em;
  border: none;
  border-radius: 2em;
  font-family: 'Poppins';
  font-size: 16px;
  width: 9.5em;
  float: right;
  margin-top: 1em;
}

.btn-card a{
  text-decoration: none;
  color: #fff;
}

.arrow-card {
  margin-left: 0.7em;
  font-weight: 900;
}

.card-2 {
  width: 16.5rem;
  font-family: 'Poppins';
  color: #000;
  border-radius: 12px;
  padding-bottom: 3em;
  background-color: #fff;
}

.card-3 {
  width: 16.5rem;
  font-family: 'Poppins';
  color: #000;
  border-radius: 12px;
  padding-bottom: 3em;
  background-color: #fff;
}

.card {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-child {
  float: left;
  margin-left: 1em;
}

.portofolio {
  display: flex;
}

.portofolio-top {
  
}

.portofolio-bottom {
  margin: 0;
  position: relative;
  left: 6em;
  top: 7em;
}

.section-services {
  color: #fff;
}

.services-title {
  font-family: 'Montserrat';
  font-size: 32px;
  text-align: center;
}

.services-description {
  font-family: 'Poppins';
  font-size: 22px;
  text-align: center;
}

.services-description-child {
  display: flex;
  flex-direction: column;
}

.card-services li{
  list-style: none;
  min-height: 340px;
  max-width: 20em;
  border: 8px solid #fff;
  margin-right: 1em;
}

.img-services {
  margin: 0;
  height: 340px;
  width: 20em;
  position: absolute;
  z-index: -1;
}

.card-1-services {
  background-color: #000;
  padding: 2px 2em 8em 2em;
  opacity: 0.8;
}


.card-2-services {
  background-color: #000;
  padding: 2px 2em 4.7em 2em;

}

.card-3-services {
  background-color: #000;
  padding: 2px 2em 8em 2em;
}

.card-title-services {
  font-family: 'Montserrat';
  font-size: 24px;
  text-align: center;
}

.card-description-services {
  width: 15em;
  font-family: 'Poppins';
  font-size: 16px;
  letter-spacing: 0.3px;
  margin-left: 9px;
  word-spacing: 4px;
}

.card-services ul {
  display: flex;
  padding: 0 10em;
  padding-top: 1em;
}

.card-services li:last-child{
  margin: 0;
}

.section-pricing {
  color: #fff;
}

.pricing-title {
text-align: center;
}

.pricing-description {
  text-align: center;

}

.pricing-description-child {
  display: flex;
  flex-direction: column;
}

.arrow-pricing {
  padding-left: 1em;
}

.btn-contact-pricing {
  background-color: #0F65E5;
  border: 2px solid #0F65E5;
}

.btn-contact-pricing a {
  text-decoration: none;
  color: #fff;
}

.btn-order {
  background-color: #fff;
  border: 2px solid #0F65E5;
  margin-left: 1em;
}

.btn-order a {
  text-decoration: none;
  color: #0F65E5;
}



